<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-content">
        <div class="app-title" routerLink="/">
        <span>{{ 'app.title' | translate }}</span>
        </div>

        <nav class="nav-links">
        <a mat-button routerLink="/profiles" routerLinkActive="active-link">
            <mat-icon>person</mat-icon>
            {{ 'menu.profile' | translate }}
        </a>

        <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item routerLink="/settings/scopes">
            <mat-icon>list</mat-icon>
            <span>{{ 'menu.scopes' | translate }}</span>
            </button>
            <button mat-menu-item routerLink="/settings/partners">
            <mat-icon>handshake</mat-icon>
            <span>{{ 'menu.partners' | translate }}</span>
            </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="settingsMenu">
            <mat-icon>settings</mat-icon>
            {{ 'menu.settings' | translate }}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        </nav>

        <!-- Language Switcher -->
        <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">
            <span>{{ 'language.english' | translate }}</span>
            @if(translation.currentLang() === 'en'){
                <mat-icon>check</mat-icon>
            }
        </button>
        <button mat-menu-item (click)="changeLanguage('fr')">
            <span>{{ 'language.french' | translate }}</span>
            @if(translation.currentLang() === 'fr'){
                <mat-icon>check</mat-icon>
            }
        </button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="languageMenu" class="language-switcher">
            <span>
                {{ translation.currentLang() }}
            </span>
        <mat-icon>language</mat-icon>
        </button>
    </div>
</mat-toolbar>